<!DOCTYPE html>
<html>
<head>
    <title>Meeting Manager</title>
    <meta name="viewport" content="width=device-width" />
 
                <link href="~/Content/Styles/bootstrap.css" rel="stylesheet" />
                <script src="~/Content/script/jQuery.min.js"></script>
               <script src="http://connatecdn.sblsol.com/content/script/jquery-ui.min.js"></script>
                <script src="~/Content/script/bootstrap.min.js"></script>
                <script src="~/Content/script/PTLayout_V2.min.js"></script>
                <link href="~/Content/styles/PTLayout.min.css" rel="stylesheet" />
                <script src="~/content/script/jquery.jeditable.js"></script>
                <script src="~/Content/Script/Kendo/kendo.all.min.js"></script>
                <link href="~/content/Styles/Kendo/kendo.common-material.min.css" rel="stylesheet" />
                <link href="~/content/Styles/Kendo/kendo.material.min.css" rel="stylesheet" />
                 
                <link href="~/Content/styles/MeetingManagementStyles.css" rel="stylesheet" />
                <link href="~/Content/styles/Meeting.css" rel="stylesheet" />

                <script src="~/Content/script/MeetingManagementFunctions.js"></script>
                <script src="~/Content/script/MeetingManagement.js"></script>
                <script src="~/Content/script/MeetingMinuts.js"></script>
                <script src="~/Content/script/dropzone.js"></script>
    <script src="~/Content/script/jquery.fileDownload.js"></script>
    <style>
        
        .PT_SecondRightMenu {
            display: none;
        }

        .PT_Top:nth-of-type(3) {
            position: absolute !important;
            right: 150px !important;
            top: 8px;
            z-index: 10000;
           
        }
        .StopMeeting{
                display:none;
            }
    </style>
    
</head>

<body>


</body>
</html>